@mixin center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin vertical-flex {
    display: flex;
    align-items: center;
}

@mixin horizontal-flex {
    display: flex;
    justify-content: center;
}

@mixin space-between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin column-flex {
    display: flex;
    flex-direction: column;
}
