.wrapper {
  @include center-flex;
  height: 100vh;
  background-color: var(--color-bg-primary);

  & .container {
    margin: 0 auto;

    & .title {
      font-size: 50px;
      text-align: center;
    }

    & .subtitle {
      font-size: 20px;
      text-align: center;
    }
  }
}
