.pageForum {
  @include column-flex;
  align-items: center;
  margin-top: 40px;
  position: relative;
}

.pageForumButtonHome {
  cursor: pointer;

  &:hover {
    svg {
      transition: 0.5s;
      color: var(--color-text);
    }
  }
}

.pageForumBlock {
  width: 90%;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
}

.pageForumBlockTitle {
  font-size: 24px;
  text-align: center;
}

.pageForumBlockDesc {
  margin-top: 20px;
  color: var(--color-text2);
  text-align: center;
}

.pageForumInput {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  width: 90%;
  margin-top: 20px;
}

.pageForumInputDesc {
  width: 100%;
}

.pageForumMessage {
  width: 100%;
  height: 66vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
