@import '@styles/vars.scss';
@import '@styles/mixins.scss';

.forum_block {
  width: 512px;
  height: 40px;
  @include space-between-flex;
  background: $gallery;
  border-radius: 8px;
  padding: 0 20px;
  cursor: pointer;
  transition: .5s;
  border: none;

  &:hover {
    background: $tropical-blue;

    .forumBlock__name {
      color: $alabaster;
    }

    .forumBlock__info {
      p {
        color: $alabaster;
      }
    }
  }

  &:not(:first-child) {
    margin-top: 20px;
  }

  &__info {
    display: flex;
    gap: 100px;
    margin-right: 35px;
  }

  &__desc {
    display: flex;
    gap: 100px;
    margin-right: 37px;
  }
}
