.forumBlockElem {
  width: 512px;
  height: 40px;
  @include space-between-flex;
  background: var(--color-border3);
  border-radius: 8px;
  padding: 0 20px;
  cursor: pointer;
  transition: 0.5s;
  border: none;

  &:hover {
    background: var(--color-bg-tertiary);
  }

  &:not(:first-child) {
    margin-top: 20px;
  }
}

.forumBlockElemDesc {
  display: flex;
  gap: 100px;
  margin-right: 37px;
}
