.wrapper {
  @include center-flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-primary);
}

.main {
  @include column-flex;
  width: 100%;
  height: 80%;
  max-width: 915px;
  padding: 24px 72px;
  background-color: var(--color-bg-secondary);
  border-radius: 12px;
  overflow: hidden;
  align-items: center;
}

.tableContainer {
  max-height: 80%;
}

.table {
  border-spacing: 0 16px !important;
}

.tableHead th {
  background-color: var(--border3);
  color: var(--color-text);
}
.tableHead th:first-child,
.tableBody td:first-child {
  border-radius: 8px 0 0 8px;
  width: 10%;
}
.tableHead th:last-child,
.tableBody td:last-child {
  border-radius: 0 8px 8px 0;
}

.tableBody tr {
  background-color: var(--color-border3);
  border-radius: 8px;
  height: 70px;
}

.tableBody td {
  color: var(--color-accent-soft);
}

.nameRow {
  @include vertical-flex;
  gap: 16px;
  color: var(--color-text);
}

.image {
  height: 47px;
  width: 47px;
  border-radius: 50%;
  object-fit: cover;
}

.place {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--color-error);
  @include center-flex;
  color: var(--color-text2);
  padding: 4px;
}
