@import '../../assets/styles/vars';

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 400px;
  height: 70%;
  background-color: $color-bg-secondary;
  border-radius: 12px;
  padding: 24px;
  outline: none;
  display: flex;
  flex-direction: column;
}

.actionsWrapper {
  background-color: $color-bg-tertiary;
  border-radius: 8px;
  margin: 16px 0;
  padding: 16px;
}
