.link {
  color: var(--color-text);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    color: var(--color-accent-soft);
    cursor: pointer;
  }

  &_red {
    color: var(--color-error);
  }

  &_disabled {
    color: var(--color-accent-soft);

    &:hover {
      color: var(--color-accent-soft);
      cursor: default;
    }
  }

  &_hidden {
    display: none;
  }
}
